<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-offset-1 col-lg-10">
        <h2>Admin Panel</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="admin-board">Admin Board</a>
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight adminboard">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <fieldset>
                <form novalidate>
                    <div class="row">

                        <div class="tabs-container">

                            <uib-tabset>
                                <uib-tab heading="Profile">
                                    <div class="panel-body">

                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label>Name des Gesschäfts </label> <span class="valid-span">*</span>
                                                <input id="Name" ng-model="profile.Name" type="text"
                                                       class="form-control" required
                                                       autofocus>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Straße *</label>
                                                        <input id="Strasse" ng-model="profile.Strasse" type="text"
                                                               class="form-control"
                                                               required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Öffnungszeiten *</label>
                                                        <input id="Oeffnungszeiten" ng-model="profile.Oeffnungszeiten"
                                                               type="text"
                                                               class="form-control"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Postleitzahl *</label>
                                                        <input id="PLZ" ng-model="profile.PLZ" type="number"
                                                               class="form-control"
                                                               required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Ort *</label>
                                                        <input id="Ort" ng-model="profile.Ort" type="text"
                                                               class="form-control"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Fax Nummer</label>
                                                        <input id="fax" ng-model="profile.Fax" type="tel"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Telefon Nummer *</label>
                                                        <input id="Telefon" ng-model="profile.Telefon" type="tel"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Webseite</label>
                                                <input id="Homepage" ng-model="profile.Homepage" type="text"
                                                       class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Logo</label>

                                                <div class="input-group"><input type="text" ng-model="profile.IconUrl"
                                                                                class="form-control"> <span
                                                        class="input-group-btn"> <button
                                                        type="button" class="btn btn-primary">Upload
                                                </button> </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">

                                            <div class="form-group">
                                                <label>QR Code Url </label>
                                                <input id="Qrcode" ng-model="profile._id" type="text"
                                                       class="form-control">
                                            </div>
                                            <div class="text-center">
                                                <svg class="barcode"
                                                     jsbarcode-value="{{profile._id}}"
                                                     jsbarcode-textmargin="0"
                                                     jsbarcode-fontoptions="bold">
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Beschreibung</label>
                        <textarea id="Beschreibung" ng-model="profile.Beschreibung" rows="12" type="text"
                                  class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Ihr Impressum</label>
                                                <textarea id="Impressum" ng-model="profile.Impressum" rows="12" type="text" class="form-control"> </textarea>
                                            </div>
                                        </div>

                                    </div>
                                </uib-tab>
                                <uib-tab heading="Schaufenster">
                                    <div class="panel-body">

                                        <div class="col-lg-8" style="padding-top: 10px">
                                            <div class="form-group">
                                                <label>Schaufenster erstellen</label>

                                                <div class="input-group">
                           <span class="input-group-btn"> <button
                                   type="button" class="btn btn-primary" ng-click="addWindow()">Erstelle Schaufenster
                           </button>
                            <button
                                    type="button" class="btn btn-primary" ng-click="removeWindow()">Lösche letztes
                                                                                                    Schaufenster
                            </button>
                                        <a class="btn btn-primary" ui-sref="dashboard.window"><i
                                                class="fa fa-newspaper-o"></i> <span
                                                class="nav-label">Schaufenster Aktionen</span></a>
                           </span>
                                                </div>
                                            </div>
                                            <div ng-repeat="window in profile.schaufenster" class="form-group">
                                                <div class="input-group"><input type="text" ng-model="window"
                                                                                class="form-control"> <span
                                                        class="input-group-btn"> <button
                                                        type="button" class="btn btn-primary">Upload
                                                </button> </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </uib-tab>

                                <uib-tab heading="Meldungen">
                                    <div class="panel-body">
                                        <div class="col-lg-12" style="padding-top: 10px">
                                            <uib-tabset>
                                                <uib-tab heading="Aktion">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label>Aktion erstellen</label>

                                                            <div class="input-group">
                                                                   <span class="input-group-btn">
                                                                       <button type="button" class="btn btn-primary" ng-click="addAktion()">Erstelle Aktion
                                                                       </button>
                                                                         <button type="button" class="btn btn-primary" ng-click="removeAktion()">Lösche Letzte Aktion
                                                                         </button>
                                                                        <a class="btn btn-primary"
                                                                           ui-sref="dashboard.list"><i
                                                                                class="fa fa-newspaper-o"></i> <span
                                                                                class="nav-label"> Aktion Dashboard</span>
                                                                        </a>
                                                                   </span>
                                                            </div>
                                                        </div>
                                                        <div ng-repeat="aktion in profile.Aktionen" class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>Title</label>
                                                                        <input id="aktionTitle" ng-model="aktion.Titel"
                                                                               type="text"
                                                                               class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>Neuigkeit Beschreibung</label>
                                                                        <input id="aktionBeschreibung"
                                                                               ng-model="aktion.Beschreibung"
                                                                               type="text"
                                                                               class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label> Erstellungsdatum</label>

                                                                        <div class="input-group date">
                                                                            <input type="datetime" disabled
                                                                                   class="form-control" date-time
                                                                                   ng-model="aktion.createDatum"
                                                                                   view="year" auto-close="true">
                                                                                <span class="input-group-addon"><i
                                                                                        class="fa fa-calendar"></i></span>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </uib-tab>
                                                <uib-tab heading="Event/Termin">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label>Termin erstellen</label>

                                                            <div class="input-group">
                                                                   <span class="input-group-btn">
                                                                       <button
                                                                               type="button" class="btn btn-primary"
                                                                               ng-click="addTermin()">Erstelle
                                                                                                      Termin
                                                                       </button>
                                                                         <button
                                                                                 type="button" class="btn btn-primary"
                                                                                 ng-click="removeTermin()">Lösche
                                                                                                           Letzten Termin
                                                                         </button>
                                                                        <a class="btn btn-primary"
                                                                           ui-sref="dashboard.list"><i
                                                                                class="fa fa-newspaper-o"></i> <span
                                                                                class="nav-label"> Termin Dashboard</span>
                                                                        </a>
                                                                   </span>
                                                            </div>
                                                        </div>
                                                        <div ng-repeat="termin in profile.Termine" class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>Termin Title</label>
                                                                        <input id="terminTitle" ng-model="termin.Titel"
                                                                               type="text"
                                                                               class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>Termin Beschreibung</label>
                                                                        <input id="terminBeschreibung" ng-model="termin.Beschreibung"
                                                                               type="text"
                                                                               class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Startdatum</label>

                                                                        <div class="input-group date">
                                                                            <input type="datetime"
                                                                                   class="form-control" date-time
                                                                                   ng-model="termin.Datum"
                                                                                   view="year" auto-close="true">
                                                                                <span class="input-group-addon"><i
                                                                                        class="fa fa-calendar"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Erstellungsdatum</label>

                                                                        <div class="input-group date">
                                                                            <input type="datetime" disabled
                                                                                   class="form-control" date-time
                                                                                   ng-model="termin.createDatum"
                                                                                   view="year" auto-close="true">
                                                                                <span class="input-group-addon"><i
                                                                                        class="fa fa-calendar"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </uib-tab>
                                                <uib-tab heading="Neuigkeit">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label>Neuigkeit erstellen</label>

                                                            <div class="input-group">
                                                                   <span class="input-group-btn">
                                                                       <button
                                                                               type="button" class="btn btn-primary"
                                                                               ng-click="addNews()">Erstelle Neueigkeit
                                                                       </button>
                                                                       <button
                                                                               type="button" class="btn btn-primary"
                                                                               ng-click="removeNews()">Lösche letzte
                                                                                                       Neuigkeit
                                                                       </button>

                                                                        <a class="btn btn-primary"
                                                                           ui-sref="dashboard.promotion"><i
                                                                                class="fa fa-newspaper-o"></i> <span
                                                                                class="nav-label">Dashboard Neuigkeiten</span>
                                                                        </a>

                                                                   </span>
                                                            </div>
                                                        </div>
                                                        <div ng-repeat="news in profile.News" class="form-group">

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>Neuigkeit Titel</label>
                                                                        <input id="newsTitel" ng-model="news.Titel"
                                                                               type="text"
                                                                               class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>Neuigkeit Beschreibung</label>
                                                                        <input id="newsBeschreibung"
                                                                               ng-model="news.Beschreibung"
                                                                               type="text"
                                                                               class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label> Erstellungsdatum</label>

                                                                        <div class="input-group date">
                                                                            <input type="datetime" disabled
                                                                                   class="form-control" date-time
                                                                                   ng-model="news.createDatum"
                                                                                   view="year" auto-close="true">
                                                                                <span class="input-group-addon"><i
                                                                                        class="fa fa-calendar"></i></span>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </uib-tab>
                                            </uib-tabset>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>

                        </div>
                        <div class="col-lg-10" style="padding-top: 10px">
                            <hr>
                            <button
                                    ng-click="saveData()" type="button" class="btn btn-primary btn-fill">Daten Speichern
                            </button>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
<script>
    JsBarcode(".barcode").init();
</script>