<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Schaufenster</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <strong>Schaufenster</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight blog ng-scope">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link" href="#/app/article">
                        <h2>
                            Babynahrung um 20% reduziert!
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Peter - Globus Holding</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28 Oktober 2015</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem                     </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Nahrung</button>
                            <button class="btn btn-white btn-xs" type="button">Baby</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Status:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 56 Kommentare </div>
                                <i class="fa fa-eye"> </i> 144 mal gesehen
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link" href="#/app/article">
                        <h2>
                            Hundefutter um 20% reduziert!
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Lisa - Globus Holding</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 10 Oktober 2015</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem                     </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Nahrung</button>
                            <button class="btn btn-white btn-xs" type="button">Hund</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Status:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 12 Kommentare </div>
                                <i class="fa fa-eye"> </i> 14 mal gesehen
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link" href="#/app/article">
                        <h2>
Elektro Geräte im Angebot                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>alex - Globus AG</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 07 April 2015</span>
                    </div>
                    <p>
                        Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just zebra, and my wolves quack! Blowzy red vixens fight for a quick.
                    </p>
                    <p>
                        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Elektro</button>
                            <button class="btn btn-white btn-xs" type="button">TV</button>
                            <button class="btn btn-white btn-xs" type="button">PC</button>
                            <button class="btn btn-white btn-xs" type="button">Telefon</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Status:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 23 Kommentare </div>
                                <i class="fa fa-eye"> </i> 34 mal gesehen
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link" href="#/app/article">
                        <h2>
                            Apple TV nur 1200€
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Lisa - Globus Holding</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 5 Oktober 2015</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, <strong>   , sed diam nonumy eirmod tempor invidunt ut l </strong> consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem                     </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">TV</button>
                            <button class="btn btn-white btn-xs" type="button">Elektro</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Status:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 12 Kommentare </div>
                                <i class="fa fa-eye"> </i> 14 mal gesehen
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link" href="#/app/article">
                        <h2>
                            Tassimo nimm 2 bezahl eins!
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Ralf - Globus Holding</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 10 Oktober 2015</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem                     </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Kaffee</button>
                            <button class="btn btn-white btn-xs" type="button">Nahrung</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Status:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 12 Kommentare </div>
                                <i class="fa fa-eye"> </i> 14 mal gesehen
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link" href="#/app/article">
                        <h2>
                            Elektro Geräte im Angebot                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>alex - Globus AG</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 07 April 2015</span>
                    </div>
                    <p>
                        Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just zebra, and my wolves quack! Blowzy red vixens fight for a quick.
                    </p>
                    <p>
                        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Elektro</button>
                            <button class="btn btn-white btn-xs" type="button">TV</button>
                            <button class="btn btn-white btn-xs" type="button">PC</button>
                            <button class="btn btn-white btn-xs" type="button">Telefon</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Status:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 23 Kommentare </div>
                                <i class="fa fa-eye"> </i> 34 mal gesehen
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

