<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Schaufenster</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <strong>Schaufenster</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight blog ng-scope">
    <div class="row">


        <div class="col-lg-4" ng-repeat="value in window.schaufenster">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link" href="#/app/article">
                        <h2>
                            Babynahrung um 20% reduziert!
                        </h2>
                    </a>

                    <div class="center-block">
                        <img class="img-responsive" style="margin: 0 auto; padding-top: 10px;" ng-src="{{value}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

