<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" >
                    <h1>Locato</h1>
                </div>
                <div class="logo-element">
                    L+
                </div>

            </li>

            <li ng-class="{active: $state.includes('window')}">
                <a href=""><i  class="fa fa-windows" ></i> <span class="nav-label ng-binding">Schaufenster</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('window')}">
                    <li ><a ui-sref-active="active" ui-sref="dashboard.window" >Schaufenster anzeigen</a></li>
                    <li ><a ui-sref-active="active" ui-sref="dashboard.window-create" >Schaufenster erstellen</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.promotion"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Aktionen</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.infomaterial"><i class="fa fa-info-circle"></i> <span class="nav-label">Info Material</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.community"><i class="fa fa-users"></i> <span class="nav-label">Communities</span></a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="dashboard.coupon"><i class="fa fa-file"></i> <span class="nav-label">Coupons</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.list"><i class="fa fa-list-alt"></i> <span class="nav-label">Sortimentsliste</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.tag"><i class="fa fa-tags"></i> <span class="nav-label">Schlagwort Register</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.profile.step_one"><i class="fa fa-user"></i> <span class="nav-label">Profile Daten</span></a>
            </li>
        </ul>

    </div>
</nav>