<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Coupon</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <strong>Coupons verwalten</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12">

            <div class="tabs-container">

                <uib-tabset>

                  <!--Copupons verwalten ansehen -->
                    <uib-tab active="tabActivity[0]">
                        <uib-tab-heading>
                            Coupons verwalten
                        </uib-tab-heading>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content ibox-heading">
                                            <h3><i class="fa fa-file"></i> Aktuelle Gutscheine</h3>
                                            <small><i class="fa fa-tim"></i> Sie haben momentan 22 Gutscheine - 16 sind aktiv</small>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="feed-activity-list">
                                                <div class="feed-element" ng-repeat="coupon in coupons track by $index" >
                                                    <div>
                                                        <li uib-dropdown="" class="dropdown pull-right" style="list-style-type: none;">
                                                            <a class="count-info dropdown-toggle" href="" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
                                                                <i class="fa fa-gear fa-2x"></i>
                                                            </a>
                                                            <ul class="dropdown-alerts dropdown-menu" uib-dropdown-menu="" style="position: relative">
                                                                <li>
                                                                    <a ng-click="edit(coupon)">
                                                                        <i class="fa fa-pencil"></i> Coupon bearbeiten
                                                                    </a>
                                                                </li>
                                                                <li class="divider"></li>
                                                                <li>
                                                                    <a  ng-click="remove(coupon)" >
                                                                        <i class="fa fa-trash"></i> Coupon löschen
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a  ng-click="changeStatus(coupon)" >
                                                                        <i class="fa fa-play"></i> Status ändern
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <h3> <a data-toggle="modal" data-target="#detailModal" >{{coupon.titel}} </a></h3>
                                                        <div>{{coupon.untertitel}}</div>
                                                        <small class="text-muted"> gültig bis {{formatDate(coupon.gueltig)}}</small>
                                                        <small class="text-navy"> aktiv: {{ (coupon.aktiv === true) ? "Ja" : "Nein"}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </uib-tab>


                    <!--Copupons erstellen -->
                    <uib-tab active="tabActivity[1]" ng-click="createCoupon()">
                        <uib-tab-heading>
                            Coupons erstellen
                        </uib-tab-heading>
                        <div class="panel-body">

                            <form class="form-horizontal " ng-submit="saveCoupon()">
                                <div class="form-group"><label class="col-sm-2 control-label">Kategorie</label>

                                    <div class="col-sm-10"><select ng-model="coupon.kategorie" class="form-control m-b" name="kategorie">
                                        <option>Extrapunkte</option>
                                        <option>Mehrfachpunkte</option>
                                        <option>Rabatt</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">Titel</label>

                                    <div class="col-sm-10"><input type="text" class="form-control" ng-model="coupon.titel"  ></div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">Untertitel</label>

                                    <div class="col-sm-10">
                                 <textarea id="untertitel" ng-model="coupon.untertitel" name="untertitel" rows="2" type="text"
                                           class="form-control" ng-model="coupon.untertitel" /></div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Gültig bis:</label>

                                    <div class="col-sm-4">
                                        <div class="input-group date">
                                            <input type="datetime" class="form-control" date-time ng-model="coupon.gueltig"
                                                   view="year" auto-close="true" >
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">Zielgruppe wählen</label>

                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Hier klicken!</button>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">Bedingungen</label>

                                    <div class="col-sm-10"><input type="text" class="form-control" ng-model="coupon.bedingungen"></div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">Hinweise</label>

                                    <div class="col-sm-10"><input type="text" class="form-control" ng-model="coupon.hinweise"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-white" ng-click="resetCoupon()" >Zurücksetzen</button>
                                        <button class="btn btn-primary" type="submit">Speichern</button>
                                    </div>
                                </div>

                            </form>


                        </div>


                        <!-- Modal Zielgruppe-->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Zielgruppe wählen</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">

                                          <div class="col-sm-12">
                                              <label class="col-sm-4 control-label">Nach Umsatz &amp; Zeit <br/>
                                                <small class="text-navy">Custom elements</small>
                                              </label>

                                                <div class="col-sm-8">
                                                        <div> <input icheck type="checkbox" ng-model="checkZielgruppeUmsatzOne">
                                                      <span>
                                                        Mindestens
                                                        <a href="#" editable-text="zielgruppeUmsatzOneBesuche" ng-disabled="checkAuto"> {{ zielgruppeUmsatzOneBesuche || 'empty' }} </a>
                                                        Besuche in den letzten
                                                        <a href="#" editable-text="zielgruppeUmsatzOneWochen" > {{ zielgruppeUmsatzOneWochen || 'empty' }} </a>
                                                        Wochen
                                                    </span>
                                                  </div>
                                                    <div><span> <input icheck type="checkbox" ng-model="checkZielgruppeUmsatzTwo">
                                                      Mindestens
                                                      <a href="#" editable-text="zielgruppeUmsatzTwoUmsatz" > {{ zielgruppeUmsatzTwoUmsatz || 'empty' }} </a>
                                                      Umsatz in den letzten
                                                      <a href="#" editable-text="zielgruppeUmsatzTwoWochen" > {{ zielgruppeUmsatzTwoWochen || 'empty' }} </a>
                                                      Wochen
                                                    </span></div>
                                                    <div>
                                                      <span>
                                                          <input icheck type="checkbox" ng-model="checkZielgruppeUmsatzThree">
                                                          Letzter Besuch vor
                                                          <a href="#" editable-text="zielgruppeUmsatzThreeWochen" > {{ zielgruppeUmsatzThreeWochen || 'empty' }} </a>
                                                          Wochen
                                                      </span>
                                                    </div>
                                                    <div>
                                                      <span>
                                                        <input icheck type="checkbox" ng-model="checkZielgruppeUmsatzFour">
                                                          Meine Follower / Kunden
                                                      </span>
                                                  </div>

                                                </div>
                                          </div>

                                            <div class="col-sm-12" style="padding-top: 15px;">
                                              <label class="col-sm-4 control-label">Nach Ort &amp; Umgebung <br/>
                                                <small class="text-navy">Custom elements</small>
                                              </label>

                                                <div class="col-sm-8">
                                                    <div><span> <input icheck type="radio" ng-model="checkZielgruppeOrtOne" name="radioTest">
                                                        Im Umkreis von
                                                        <a href="#" editable-text="zielgruppeOrtOneKm" > {{ zielgruppeOrtOneKm || 'empty' }} </a>
                                                        km
                                                    </span></div>
                                                    <div><span> <input icheck type="radio" ng-model="checkZielgruppeOrtTwo" name="radioTest">
                                                        In einem PLZ Bereich von
                                                        <a href="#" editable-text="zielgruppeOrtTwoPLZ" > {{ zielgruppeOrtTwoPLZ || 'empty' }} </a>
                                                    </span></div>
                                                </div>
                                            </div>


                                            <div class="col-sm-12" style="padding-top: 15px;">
                                              <label class="col-sm-4 control-label">Nach Ort &amp; Umgebung <br/>
                                                <small class="text-navy">Custom elements</small>
                                              </label>

                                                <div class="col-sm-8">
                                                    <div><span> <input icheck type="checkbox" ng-model="checkAuto">
                                                        Automatisch - Auf gut Glück
                                                    </span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Speichern</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Zielgruppe-->
                        <div id="detailModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Details zum Coupon</h4>
                                    </div>
                                    <div class="modal-body">
                                          <h1>TODO</h1>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Speichern</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                </uib-tabset>
            </div>
        </div>
    </div>
</div>
