<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Coupon</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <strong>Coupons verwalten</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12">

            <div class="tabs-container">

                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            Coupons verwalten
                        </uib-tab-heading>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content ibox-heading">
                                            <h3><i class="fa fa-file"></i> Aktuelle Gutscheine</h3>
                                            <small><i class="fa fa-tim"></i> Sie haben momentan 22 Gutscheine - 16 sind aktiv</small>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="feed-activity-list">

                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><a href="#"><i class="fa fa-trash"></i> </a></small>
                                                        <strong>200 Punkte für PayBack</strong>

                                                        <div>Bei einem Einkauf von Spülmittel über 20€ erhalten sie 200 PayBack ...</div>
                                                        <small class="text-muted">Zwichen 22.08.2016 - 12.06.2016 gültig</small>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><a href="#"><i class="fa fa-trash"></i> </a></small>
                                                        <strong>500 Punkte für PayBack</strong>

                                                        <div>Bei einem Einkauf von Spülmittel über 20€ erhalten sie 200 PayBack ...</div>
                                                        <small class="text-muted">Zwichen 23.08.2016 - 31.06.2016 gültig</small>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><a href="#"><i class="fa fa-trash"></i> </a></small>
                                                        <strong>50 € geld zurück Garantie</strong>

                                                        <div>Bei einem Einkauf von Spülmittel über 20€ erhalten sie 200 PayBack ...</div>
                                                        <small class="text-muted">Zwichen 12.08.2016 - 12.06.2016 gültig</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab>
                        <uib-tab-heading>
                            Coupons erstellen
                        </uib-tab-heading>
                        <div class="panel-body">

                            <form method="get" class="form-horizontal ng-pristine ng-valid">
                                <div class="form-group"><label class="col-sm-2 control-label">Aktionsart</label>

                                    <div class="col-sm-10"><select class="form-control m-b" name="account">
                                        <option>Extrapunkte</option>
                                        <option>Mehrfachpunkte</option>
                                        <option>Rabatt</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">Titel</label>

                                    <div class="col-sm-10"><input type="text" class="form-control"></div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">Untertitel</label>

                                    <div class="col-sm-10">
                                 <textarea id="untertitel" ng-model="coupon.untertitel" name="untertitel" rows="2" type="text"
                                           class="form-control"/></div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Gültig bis:</label>

                                    <div class="col-sm-4">
                                        <div class="input-group date">
                                            <input type="datetime" class="form-control" date-time ng-model="coupon.gueltig"
                                                   view="year" auto-close="true">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">Zielgruppe wählen</label>

                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Hier klicken!</button>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">Bedingungen</label>

                                    <div class="col-sm-10"><input type="text" class="form-control"></div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">Hinweise</label>

                                    <div class="col-sm-10"><input type="text" class="form-control"></div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-white" type="submit">Zurücksetzen</button>
                                        <button class="btn btn-primary" type="submit">Speichern</button>
                                    </div>
                                </div>

                            </form>

                        </div>


                        <!-- Modal Zielgruppe-->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Zielgruppe wählen</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group"><label class="col-sm-4 control-label">Nach Umsatz &amp; Zeit <br/>
                                                <small class="text-navy">Custom elements</small>
                                            </label>

                                                <div class="col-sm-8">
                                                    <div><label> <input icheck type="checkbox" ng-model="main.check2">
                                                        Mindestens X Besuche in den letzten Y Wochen
                                                    </label></div>
                                                    <div><label> <input icheck type="checkbox" ng-model="main.checkThree3">
                                                        Mindestens X € Umsatz in den letzten Y Wochen
                                                    </label></div>
                                                    <div><label> <input icheck type="checkbox" ng-model="main.checkThree2">
                                                        Letzter Besuch vor X Wochen</label></div>
                                                    <div><label> <input icheck type="checkbox" ng-model="main.checkThree1">
                                                        Meine Follower / Kunden
                                                    </label></div>

                                                </div>
                                            </div>

                                            <p></p>

                                            <div class="form-group"><label class="col-sm-4 control-label">Nach Ort &amp; Umgebung <br/>
                                                <small class="text-navy">Custom elements</small>
                                            </label>

                                                <div class="col-sm-8">
                                                    <div><label> <input icheck type="radio" ng-model="main.checkFour" name="radioTest">
                                                        Im Umkreis von X km
                                                    </label></div>
                                                    <div><label> <input icheck type="radio" ng-model="main.checkFour2" name="radioTest">
                                                        In einem PLZ Bereich von:
                                                    </label></div>
                                                </div>
                                            </div>

                                            <p></p>

                                            <div class="form-group"><label class="col-sm-4 control-label">Nach Ort &amp; Umgebung <br/>
                                                <small class="text-navy">Custom elements</small>
                                            </label>

                                                <div class="col-sm-8">
                                                    <div><label> <input icheck type="checkbox" ng-model="main.checkFour33">
                                                        Automatisch - Auf gut Glück
                                                    </label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Speichern</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </uib-tab>

                </uib-tabset>
            </div>
        </div>
    </div>
</div>